<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<section class="banner_part postt">

    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">

            <div class="carousel-caption text-dark text-left">
            <h2 class="animated fadeInLeft ">Caption Animation</h2>
            <p class="animated fadeInUp">Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
            <p class="animated fadeInUp"><a href="#" class="btn btn-transparent btn-rounded btn-large border border-dark">Learn More</a></p>
       </div>

            <%= image_tag("bannnero.png")%>
            </div>

            <div class="carousel-item">

            <div class="carousel-caption text-dark text-left">
            <h2 class="animated fadeInLeft ">Caption Animation</h2>
            <p class="animated fadeInUp">Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
            <p class="animated fadeInUp"><a href="#" class="btn btn-transparent btn-rounded btn-large border border-dark">Learn More</a></p>
       </div>

            <%= image_tag("bannner1.png")%>
            </div>
            <div class="carousel-item">
            <div class="carousel-caption text-dark text-left">
            <h2 class="animated fadeInLeft ">Caption Animation</h2>
            <p class="animated fadeInUp">Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
            <p class="animated fadeInUp"><a href="#" class="btn btn-transparent btn-rounded btn-large border border-dark">Learn More</a></p>
       </div>

            <%= image_tag("bannner3.png")%>
                
            </div>
           
        </div>
        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>



<!--::review_part start::-->
<section class="special_cource padding_top postt1 position-absolute"  >
    <div class="container " >
        <div class="row justify-content-center">
            <div class="col-xl-5">
                <div class="section_tittle text-center">
                    <p>popular courses</p>
                    <h2>Special Courses</h2>
                </div>
            </div> 
        </div>
        <div class="row" >
            <div class="col-sm-6 col-lg-4 ">
                <div class="single_special_cource">
                <%= image_tag("special_cource_1 - Copy.png", class: "pecial_img", width:"360", height:"200") %>
                 
                    <div class="special_cource_text">
                        <a href="course-details.html" class="btn_4">Web Development</a>
                        <h4>Cat: I.D</h4>
                        <a href="course-details.html"><h3>Web Development</h3></a>
                        <p>Which whose darkness saying were life unto fish wherein all fish of together called</p>
                        
                    </div>

                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="single_special_cource">
                <%= image_tag("special_cource_2 - Copy.png", class: "pecial_img", width:"360", height:"200") %>
   
                    <div class="special_cource_text">
                        <a href="course-details.html" class="btn_4">design</a>
                        <h4>Cat: I.D</h4>
                        <a href="course-details.html"> <h3>Web UX/UI Design </h3></a>
                        <p>Which whose darkness saying were life unto fish wherein all fish of together called</p>
                       
                    </div>

                </div>
            </div><div class="col-sm-6 col-lg-4 ">
            <div class="single_special_cource">
            <%= image_tag("special_cource_1 - Copy.png", class: "pecial_img", width:"360", height:"200") %>
             
                <div class="special_cource_text">
                    <a href="course-details.html" class="btn_4">Web Development</a>
                    <h4>Cat: I.D</h4>
                    <a href="course-details.html"><h3>Web Development</h3></a>
                    <p>Which whose darkness saying were life unto fish wherein all fish of together called</p>
                    
                </div>

            </div>
        </div>
            
            </div>
        </div>
    </div>
</section>
<!--::blog_part end::-->
