<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<section class="banner_part postt">

    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">

            <div class="carousel-caption text-dark text-left">
            <h2 class="animated fadeInLeft ">you lost ur i.d card to worry</h2>
            <p class="animated fadeInUp">this platform come to help the one lost their document to get it </p>
            <p class="animated fadeInUp">   <%= link_to 'view more posts',posts_path, class:"btn btn-transparent btn-rounded btn-large border border-dark"  %></p>
       </div>

            <%= image_tag("bannnero.png")%>
            </div>

            <div class="carousel-item">

            <div class="carousel-caption text-dark text-left">
            <h2 class="animated fadeInLeft ">you lost ur atm card or passport to worry</h2>
            <p class="animated fadeInUp">this platform come to help the one lost their document to get it in easy way </p>
            <p class="animated fadeInUp">   <%= link_to 'view more posts',posts_path, class:"btn btn-transparent btn-rounded btn-large border border-dark"  %></p>
       </div>

            <%= image_tag("bannner1.png")%>
            </div>
            <div class="carousel-item">
            <div class="carousel-caption text-dark text-left">
            <h2 class="animated fadeInLeft ">you lost ur college document to worry</h2>
            <p class="animated fadeInUp">this platform come to help the one lost their document to get it in easy way </p>
            <p class="animated fadeInUp">   <%= link_to 'view more posts',posts_path, class:"btn btn-transparent btn-rounded btn-large border border-dark"  %></p>
       </div>
            <%= image_tag("bannner3.png")%>
                
            </div>
           
        </div>
        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>
<!--::blog_part end::-->
<div class="section-top-border bob container">
				<h3 class="mb-30">Dive into code</h3>
				<div class="row">
					<div class="col-lg-12">
						<blockquote class="generic-blockquote">
							“Be able to pass the task with the cooperation of a mentor
                            Once the curriculum is complete, 
                            we will create a portfolio of tasks to practice 
                            what you have learned. There are only tasks that 
                            can not be passed in a straight line, but examine it 
                            yourself, organize the mistakes, and what you can not do, 
                                This works with the guidance of a mentor through questions 
                                and answers cycle.
                                Become able to develop an original application
                    After completing all the curriculums, 
                         as a compilation, in parallel with preparation for job hunting activities, 
                         we will develop a portfolio that showcases your abilities. 
                         Make good use of what you have learned so
                     far to succeed your graduation and employment.”
						</blockquote>
					</div>
				</div>
			</div>
