<p id="notice"><%= notice %></p>

<div class="container"> <%=search_form_for @search do |f| %>
                          
    <div class="input-group">
    <%= f.text_field :content_or_categories_cont, class:'form-control col-3 border-secondary py-2' %>
     <%= f.submit  %> 
</div>
 <% end %> </div>

  <div class="card-columns">
  
  <% @posts.each do |post| %> 
  <div class="card">
  <%= image_tag(post.image , class:'card-img-top') if post.image.attached? %>
  
  <div class="card-body">
    <h5 class="card-title">Cat:<%= post.categories %></h5>
    <p class="card-text">
    <%= post.content %> </p>
                        <%= link_to 'Show', post %>
                        <%= link_to 'Edit', edit_post_path(post) %>
                        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
  <div class="card-footer ">
    <small class="text-muted">Last updated 3 mins ago</small>
  </div>
</div>
<% end %>
  </div>
<!--::blog_part end::-->


<br>

<%= link_to 'New Post', new_post_path %>


<%= paginate @posts %>