<p id="notice"><%= notice %></p>

<div class="container"> 
<% if  signed_in? %>
<%= link_to 'New Post', new_post_path, class:'btn rounded btn-primary' %>
<% if  current_user.admin == true %>
<%= link_to 'Admin_Dashboard',  rails_admin.dashboard_path, class:'btn rounded btn-primary' %>
<%end%>
<%end%>
<span class="position-relative">
<%=search_form_for @search do |f| %>                     
    <div class="input-group">
    <%= f.text_field :tittle_or_categories_cont, class:'single-input  col-sm-3', placeholder:"search" %>
     <%= f.submit "Search" , class:"genric-btn info-border circle" %> 
</div>
 <% end %>
</span>
 </div>

  <div class="card-columns mt-10 container">
  <% @posts.each do |post| %> 
  <div class="card">
  <%= image_tag(post.image , class:'card-img-top', style: "max-height: 18rem;" ) if post.image.attached? %>
  
  <div class="card-body">
  <b> Title: <%= post.tittle %> </b>
    <h5 class="card-title">Cat:<%= post.categories %></h5>
                       <%= link_to 'More Details', post %>      
                        <% if user_signed_in? && current_user.id == post.user_id %>
                        <%= link_to 'Edit', edit_post_path(post) %>
                        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
                        <%end%>
                      
                        <small class="text-muted"><%= Comment.where(post_id: post.id).count %>comments</small>
</div>
  <div class="card-footer ">
    <small class="text-muted">posted at: <%= time_ago_in_words(post.created_at) %> 

    </small>
  </div>
</div>
<% end %>
  </div>
<!--::blog_part end::-->


<br>




<%= paginate @posts %>









