
  <p id="notice"><%= notice %></p>

  
    <p><strong>Content</strong>：<%= @post.content %></p>
  </div>

  <p>List of Comments(Contents below are important)</p>

  <!-- Get an HTML id of this comments_area and update only the part of that div -->
  <div id="comments_area">
    <!-- Render to display the posted comment list on the blogs detail page -->
    <%= render partial: 'comments/index', locals: { comments: @comments, post: @post } %>
  

  <!-- Render to display the comment field on the blogs detail page -->
  <%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>

  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Return', posts_path %> | 
 
