<!-- learning part start-->
<section class="learning_part bob2">
    <div class="container">
        <div class="row align-items-sm-center align-items-lg-stretch">
            <div class="col-md-7 col-lg-7 bob3">
                <div class="learning_img">
                    <%= image_tag("learning_img.png")%>
                </div>
            </div>
            <div class="col-md-5 col-lg-5">
                <div class="learning_member_text">
                <h2>Sing up page</h2>

                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                  <%= render "devise/shared/error_messages", resource: resource %>
                
                  
                  <div class="field mt-10">
                  <%= f.label :first_name %><br />
                  <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" , class:"single-input" %>
                </div>
                <div class="field mt-10">
                    <%= f.label :second_name %><br />
                    <%= f.text_field :second_name, autofocus: true, autocomplete: "second_name" , class:"single-input" %>
                
                  </div>
                  <div class="field mt-10">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autofocus: true, autocomplete: "email" , class:"single-input" %>
                  </div>
                
                  <div class="field mt-10">
                    <%= f.label :address %><br />
                    <%= f.text_field :address, autofocus: true, autocomplete: "address" , class:"single-input" %>
                  </div>

                  <div class="field mt-10">
                    <%= f.label :tel_phone %><br />
                    <%= f.text_field :tel_phone, autofocus: true, autocomplete: "tel_phone" , class:"single-input" %>
                  </div>
                  <div class="field mt-10">
                    <%= f.label :password %>
                    <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %><br />
                    <%= f.password_field :password, autocomplete: "new-password" , class:"single-input" %>
                  </div>
                
                  <div class="field mt-10">
                    <%= f.label :password_confirmation %><br />
                    <%= f.password_field :password_confirmation, autocomplete: "new-password" , class:"single-input" %>
                  </div>
                
                  <div class="actions mt-10">
                    <%= f.submit "Sign up" , class:"genric-btn success circle" %>
                  </div>
                <% end %>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- learning part end-->
